    /* ===================================
CSS LOGO
====================================== */
    
    img.img-logo {
        padding: 40px 0px;
    }
    
    .btn-login {
        padding: 20px 30px!important;
        border: 3px solid #714DF9;
        border-radius: 21px;
        opacity: 1;
        font-weight: 100;
        line-height: 0px!important;
    }
    /* ===================================
CSS HOW-SECTION1
====================================== */
    
    .how-section1 {
        /* margin-top: -15%;*/
        padding-top: 40px;
        padding-bottom: 60px;
    }
    
    .how-section1 h4.titleheading {
        color: #FFF;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        padding: 8px 14px;
        background: transparent linear-gradient(180deg, #463490 0%, #372983 100%) 0% 0% no-repeat padding-box;
        border-radius: 26px;
        opacity: 0.89;
        text-align: justify;
    }
    
    .how-section1 div.icon {
        height: 31px;
        background-image: url("../assets/images/surface1.svg");
        background-position: 0 100%;
        background-repeat: no-repeat;
        padding-left: 40px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }
    
    .how-section1 .subheading {
        color: #FFF;
        font-size: 36px;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        text-align: justify;
    }
    
    .how-section1 p.text-muted {
        margin: 0px;
        letter-spacing: 0;
        font-size: 16px;
        color: #B4B4B4;
        text-align: justify;
    }
    
    .how-img {
        text-align: center;
        padding: 20px;
    }
    
    .how-img img {
        width: 100%;
    }
    
    .group-btn {
        padding-top: 30px;
    }
    
    .btn-group {
        padding: 10px 30px;
        font-weight: 400;
        color: #FFF;
        background: transparent linear-gradient(90deg, #2AC4A2 0%, #6D5BF5 100%) 0% 0% no-repeat padding-box;
        border-radius: 30px;
        opacity: 0.89;
        margin-right: 20px;
    }
    
    .margin-top-30 {
        margin-top: 30px;
    }
    /* ===================================
    CSS PY-5
    ====================================== */
    
    .py-5 .mt-5 {
        padding-bottom: 40px;
    }
    
    .py-5 .text-server {
        padding: 0px 30px;
    }
    
    .py-5 .head-text-server {
        color: #FFF;
        font-size: 22px;
    }
    
    .py-5 .text-muted-server {
        color: #B4B4B4;
        text-align: justify;
    }
    
    .offset-3 {
        text-align: center;
    }
    
    .head-text-app {
        color: #FFF;
        font-size: 36px;
        font-family: "Alata", sans-serif;
        font-weight: 400;
    }
    
    .text-muted-app {
        color: #B4B4B4;
        text-align: justify;
    }
    /* ===================================
    CSS PANEL
    ====================================== */
    
    .how-section1 .panel-group {
        margin-top: 40px;
    }
    
    .how-section1 .panel {
        background: transparent;
        border: none;
    }
    
    .how-section1 .panel-body {
        border: none;
        text-align: justify;
    }
    
    .how-section1 .panel-title {
        font-size: 22px;
        font-weight: 700;
    }
    
    .panel-default>.panel-heading {
        color: #FFF;
        font-size: 25px;
        background-color: transparent;
        border: none;
        border-top: 1px solid #B4B4B4;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .panel-default>.last-heading {
        border-bottom: 1px solid #B4B4B4;
    }
    
    .panel-default>.panel-heading a {
        display: block;
        padding: 10px 15px;
    }
    
    .panel-default>.panel-heading a:after {
        content: "";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
    }
    
    .panel-default>.panel-heading a[aria-expanded="true"] {
        /* background-color: #eee; */
    }
    
    .panel-default>.panel-heading a[aria-expanded="true"]:after {
        /* content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); */
    }
    
    .panel-default>.panel-heading a[aria-expanded="false"]:after {
        /* content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); */
    }
    /* ===================================
    CSS TIMELINE
    ====================================== */
    
    .timeline {
        list-style: none;
        padding: 0 0 20px;
        position: relative;
        margin-top: 15px
    }
    
    .timeline:before {
        top: 30px;
        bottom: 25px;
        position: absolute;
        content: " ";
        /* width: 3px; */
        /* background-color: #ccc; */
        left: 25px;
        margin-right: -1.5px
    }
    
    .timeline>li,
    .timeline>li>.timeline-panel {
        margin-bottom: 5px;
        position: relative
    }
    
    .timeline>li:after,
    .timeline>li:before {
        content: " ";
        display: table
    }
    
    .timeline>li:after {
        clear: both
    }
    
    .timeline>li>.timeline-panel {
        margin-left: 80px;
        float: left;
        top: 19px;
        padding: 4px 10px 58px 35px;
        /* border: 1px solid #ccc; */
        border-radius: 5px;
        /* width: 45% */
    }
    
    .timeline>li>.timeline-badge {
        color: #fff;
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 1.2em;
        text-align: center;
        position: absolute;
        top: 26px;
        left: -9px;
        margin-right: -25px;
        background-color: transparent;
        z-index: 100;
        border-radius: 50%;
        border: 2px solid #25CBD3;
    }
    
    .timeline>li.timeline-inverted>.timeline-panel {
        float: left
    }
    
    .timeline>li.timeline-inverted>.timeline-panel:before {
        border-right-width: 0;
        border-left-width: 15px;
        right: -15px;
        left: auto
    }
    
    .timeline>li.timeline-inverted>.timeline-panel:after {
        border-right-width: 0;
        border-left-width: 14px;
        right: -14px;
        left: auto
    }
    
    .timeline-title {
        margin-top: 0;
        color: #FFF;
        font-size: 22px;
        font-weight: 700;
    }
    
    .timeline-body {
        color: #B4B4B4;
        text-align: justify;
    }
    
    .timeline-body>p,
    .timeline-body>ul {
        margin-bottom: 0;
        margin-top: 0
    }
    
    .timeline-body>p+p {
        margin-top: 5px
    }
    
    .timeline-badge>.glyphicon {
        margin-right: 0px;
        color: #fff
    }
    
    .timeline-body>h4 {
        margin-bottom: 0!important
    }
    
    .timeline-badge .icon-timeline {
        margin: 0px!important;
    }
    /* ===================================
    CSS SOCIAL
    ====================================== */
    
    .social {
        background: #6C63FF;
    }
    
    .social-media li {
        display: inline-block;
        width: auto;
        padding: 0px 10px;
    }
    
    .social-media li a {
        color: #B4B4B4;
    }
    
    .social-media li a:hover {
        color: #FFF;
    }
    
    .nav-wrapper {
        margin-bottom: 30px;
    }
    /* ===================================
    CSS NEWS
    ====================================== */
    
    .headding-top-new {
        margin: 40px 0px;
    }
    
    .py-5 .text-news {
        padding: 0px;
    }
    
    .py-5 .head-text-news {
        color: #FFF;
        font-size: 22px;
    }
    
    .py-5 .text-muted-news {
        color: #B4B4B4;
        text-align: justify;
    }
    /* ===================================
    CSS FOOTER
====================================== */
    
    .footer-content-area {
        background: #6C63FF;
        border-radius: 166px 166px 0px 0px;
    }
    
    .footer-wrap h3 {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: start;
    }
    
    .footer-wrap p.text-muted-app {
        font-size: 18px;
        line-height: 24px;
        color: #B4B4B4;
        margin-top: 15px;
    }
    
    .footer-wrap p a {
        color: #fff;
        text-decoration: underline;
        font-style: italic;
    }
    
    .footer-wrap p a:hover {
        text-decoration: none;
        color: #ff7800;
    }
    
    .footer-links {
        text-align: start;
    }
    
    .footer-links li a {
        font-size: 18px;
        line-height: 26px;
        color: #B4B4B4;
        text-decoration: none;
    }
    
    .footer-links li a:hover {
        color: #FFF;
    }
    
    .footer-links li:before {
        /* content: "\f105 "; */
        font-family: "Roboto ", sans-serif;
        font-weight: 400;
        padding-right: 10px;
        color: #FFF;
    }
    
    .footer-category {
        text-align: start;
    }
    
    .footer-category li a {
        font-size: 18px;
        line-height: 26px;
        color: #B4B4B4;
        text-decoration: none;
    }
    
    .footer-category li a:hover {
        color: #FFF;
    }
    
    .footer-category li:before {
        /* content: "\f105 "; */
        /* font-family: 'FontAwesome'; */
        font-family: "Roboto ", sans-serif;
        font-weight: 400;
        padding-right: 10px;
        color: #FFF;
    }
    
    .address {
        color: #B4B4B4;
        font-size: 18px;
        /* position: relative; */
        /* padding-left: 30px; */
        line-height: 30px;
        text-align: start;
    }
    
    .address:before {
        /* content: "\f277 "; */
        /* font-family: 'FontAwesome'; */
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .info a {
        color: #B4B4B4;
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        text-align: start;
    }
    
    .info a:hover {
        color: #FFF;
    }
    
    .fa-phone:before {
        /* content: "\f095 "; */
    }
    
    .info {
        text-align: start;
    }
    
    .info a {
        color: #B4B4B4;
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
    }
    
    .fa-fax:before {
        /* content: "\f1ac "; */
    }
    
    .wrapper-contact {
        background: #1d66f6;
        border-radius: 20px;
        opacity: 0.85;
        padding: 40px 30px 40px 0px;
        margin-left: 30px;
        height: 100%;
        min-height: 430px;
        overflow: hidden;
    }
    
    .contact-bg {
        width: 100%;
        min-height: 470px;
        background-image: url("../assets/images/Group46-1.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .contact-icon-left {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .titleheading-contact {
        padding: 5px;
        background: #FFF;
        border-radius: 30px;
        color: #000;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .text-cotent-contact {
        font-size: 20px;
        color: #000;
        font-weight: 400;
        margin-top: 30px;
    }
    
    .frm-contact {
        margin: 100px 50px 0px 50px;
    }
    
    .center-block {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .input-group .icon-addon .form-control {
        border-radius: 0;
    }
    
    .icon-addon {
        position: relative;
        color: #555;
        display: block;
    }
    
    .icon-addon:after,
    .icon-addon:before {
        display: table;
        content: " ";
    }
    
    .icon-addon:after {
        clear: both;
    }
    
    .icon-addon.addon-md .glyphicon,
    .icon-addon .glyphicon,
    .icon-addon.addon-md .fa,
    .icon-addon .fa {
        position: absolute;
        z-index: 2;
        right: 15px;
        font-size: 20px;
        width: 20px;
        margin-left: -2.5px;
        text-align: center;
        padding: 10px 0;
        top: 1px
    }
    
    #email {
        color: #000;
        border-radius: 30px;
    }
    
    .wrap-icon-contact {
        margin: 0px 150px;
    }
    
    .text-icon-contact {
        color: #000;
        float: left;
        font-size: 20px;
        margin-right: 15px;
    }
    
    .icon-contact {
        float: left;
        margin-right: 15px;
    }
    
    @media (max-width: 30em) {
        .how-section1 {
            padding-top: 20px;
            padding-bottom: 30px;
        }
        .col-padding0 {
            padding-left: 0px;
            padding-right: 0px;
        }
        /* ===================================
        MEDIA PY-5
    ====================================== */
        .py-5 .text-server {
            padding: 0px;
        }
        /* ===================================
        MEDIA FOOTER
    ====================================== */
        .footer-content-area {
            border-radius: 50px 50px 0px 0px !important;
        }
        .footer-logo img {
            text-align: center;
            display: -webkit-inline-flex;
        }
        .wrapper-contact {
            margin: 0px;
            padding: 0px;
        }
        .contact-icon-left {
            left: -20px;
        }
        .contact-icon-left img {
            height: 220px;
        }
        .titleheading-contact {
            margin: 10px;
            padding: 10px;
        }
        .text-cotent-contact {
            padding: 0px 10px;
        }
        .frm-contact {
            margin: 50px 50px 10px 50px;
        }
        .wrap-icon-contact {
            margin: 10px 50px 10px 50px;
            height: auto;
            overflow: hidden;
            display: inline-flex;
        }
    }